:root {
  --black: #2B2B2B;
  --gray: #D9D9D9;
  --white: #F1F1F1;
  --border-color: #989898;
  --accent-green: #30F672;
  --accent-green-dark: #30F672;
  --muted: #777777;
  --accent-blue: #4810E4;
  --accent-cyan: #30F6F6;
  --accent-yellow: #F6F630;

  --size-gigant: 40px;
  --size-big: 36px;
  --size-medium: 32px;
  --size-normal: 28px;
  --size-small: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

html {
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: var(--gray);
  padding: 10px 0;
  border: 1px solid var(--border-color);
}

header h1 {
  font-style: 40px;
}

input {
  margin: 0.2em 0 0.5em;
  font-size: 24px;
}



/* GENERAL */
  .content-block {
    background: var(--gray);
    border: 1px solid var(--border-color);
    padding: 30px 20px;
  }

  .toggle-container {
    position: relative;
  }

  .togglePassword {
    position: absolute;
    top: 50%;
    right: 1em;
    translate: 0 -50%;
    width: 25px;
    text-align: center;
  }

  .button {
    display: block;
    width: fit-content;
    padding: 0 1em;
    height: 2.3em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    color: inherit;
  }

  .button-center {
    margin: 0 auto;
  }

/* GENERAL */


.register-block {
  display: block;
  width: 600px;
  margin: 0 auto;

  form {
    width: 500px;
    margin: 0 auto;
  }
}